.container {
  max-width: 400px;
  
  margin: 10vh auto 0 auto;
}


#display {

     text-align: left;
     height: 70px;
     line-height:  70px;
     padding: 16px 8px;
     font-size: 25px;   
     border: 1px solid;
     background-color: aliceblue;
}

.buttons {

    border: 1px solid #999 
}

.button {
border: 0.5px solid #999;
line-height:100px;
text-align: center;
font-size: 25px;
color:aliceblue;
cursor: pointer;
width: 25% ;
background-color:rgb(4, 30, 55)  ;

}

.button:hover {
  background-color:rgba(18, 52, 223, 0.799);
  color: white;
  transition: 0.5s ease-in-out;
}

table {
  border-collapse: collapse;
  height: 500px;
  width: 400px;
}
body {
  background-color: rgba(13, 13, 14, 0.829);
}

#remove {
  background-color: red;
}

#equal {
  background-color: yellow;
  font-size:50px;
}