body {
    background-color:rgb(119, 230, 217)
}

.container {
    max-width:600px;
    margin:10vh auto 0 auto;
    border:.05px solid;
    border-radius:15px;
    background-color:white;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 55px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.buttons {
    display:grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    }
.button {
     border: 0.5px solid #999;
     line-height: 100px;
     text-align: center;
     font-size: 50px;
     cursor: pointer ;
     font-family:'Courier New', Courier, monospace;
    }
.button:hover {
    background-color:rgb(240, 231, 219);
}    

#operator {
    background-color:antiquewhite;
}    
#operator:hover {
    background-color:rgb(228, 209, 209);
}
#equal {
    background-color: rgb(237, 110, 72);
   padding-top: 105px;
    grid-row-end: span 3;
    border-bottom-right-radius: 15px;
}
#equal:hover {
    background-color:coral
}

#corner {
    border-bottom-left-radius:15px;
}