.blog {
    width:70vw;
    min-width:400px;
    height:100px;
    display:block;
    margin:auto;
    padding:50px 0;
}

textarea::-webkit-scrollbar{
    width: 10px
}

textarea::-webkit-scrollbar-thumb{
    background: rgba(0,0,0,0.1);
    border-radius:10px;
}

.title,
.article {
    width:100%;
    min-height:100px;
    height:auto;
    outline:none;
    font-size:50px;
    font-weight:600;
    color:#2d2d2d;
    resize:none;
    border:none;
    padding:10px;
    border-radius:10px;
}

.title::placeholder ,
.article::placeholder{
    color:#2d2d2d;
}

.article {
    height:500px;
    font-size:20px;
    margin-top: 20px;
    line-height:30px;
    font-weight:500;
    padding-bottom: 100px;
    white-space:pre-wrap;

}

.blog-options {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  z-index: 9;
  display:flex;
  justify-content: center;
  align-items: center;
}

.btn {
    border:none;
    outline:none;
    cursor:pointer;
   padding-top: 0;
   padding-bottom: 0;
}
